/* font, biến màu */
.caption{
    color: #0D1111;
    font-size: 10px;
    font-weight: 500;
}
h1{
    color: #0D1111;
    font-size: 62px;
    font-weight: 700;
    line-height: 116.129%;
}
h2{
    color: #0D1111;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px; /* 133.333% */
}
.subtitle{
    color: #9DA6A5;
    font-size: 14px;
    font-weight: 400;
}
/* css cho cả trang */
html{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* css cho từng phần */      
header{
    margin: 52px 135px 79px 135px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
header nav ul{
    display: flex;
    align-items: center;
}
header nav ul li{
    list-style: none;
    margin-right: 39px;
}
header nav ul li a{
    text-decoration: none;
    color:#494949 ;
    font-size: 16px;
    font-weight: 400;   
}
.btnCheck{
    width: 108px;
    height: 48px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #1EBFC1;
    /* margin: 12px 24px; */
    color: #1EBFC1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.contentHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textElement{
    width: 458px;
}
.textElement p.specialone{
    color: #767E7E;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
}
.textElement h1{
    margin: 0px 0px 46px 0px;
}
.textElement p:nth-child(3){
    color: #9DA6A5;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    width: 374px;
}
.buttonSpec{
    display: flex;
    align-items: center;
}
.buttonSpec img{
    width: 14px;
    height: 18px;
    padding: 22px 22px;
    /* border: 1px solid #000; */
    /* border-radius: 50%; */
}
.buttonSpec button#al{
    background-color: #fff;
    border-radius: 51%;
    border: 1px solid #9DA6A550;
}
.btnSubmit{
    border-radius: 14px;
    background: #1EBFC1;
    padding: 20px 41px;
    border: 1px solid #1ebfc1;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-right: 50px;
}
.imageHeader{
    background-color: #E0F7F6;
    width: 576px;
    height: 631px;
    position: relative;
}
.item1{
    width: 157px;
    height: 75px;
    margin: 18px 25px;
    position: absolute;
    z-index: 120;
    top: 149px;
    left: -60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #FEFEFD;
    border-radius: 18px;
}
.item1 p.caption{
    width: 55px;
}
.item2{
    width: 124px;
    height: 132px;
    position: absolute;
    z-index: 121;
    left: -65px;
    bottom: 46px;
    background: #FFF;
    border-radius: 24px;
}
.item2 p.caption{
    margin: 16px 35px;
}
.item2 img{
    margin-left: 25px;
}
.item3{
    width: 207px;
    height: 90px;
    position: absolute;
    z-index: 121;
    right: 45px;
    bottom: 41px;
    background-color: #FEFEFD;
    border-radius: 24px;
}
.item3 p{
    margin-top: 17px;
    margin-left: 35px;
}
.item3 img{
    margin-left: 35px;
}
.feature01{
    margin: 130px 281px 130px 135px;
    width: 1024px;
}
.feature01 h2{
    width: 577px;
    margin: 18px 0px;
}
.feature01 p:nth-child(3){
    color: #767E7E;
    font-size: 18px;
    font-weight: 400;
}
.contentFeature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.contentFeature p:nth-child(2){
    color: #0D1111;
    font-size: 20px;
    font-weight: 600;
}
.contentFeature p:nth-child(3){
    width: 224px;
    color: #9DA6A5;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
}
.course{
    margin: 0px 134px 265px 134px;
}
.contentCourse{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contentPart{
    position: relative;
}
.mask1{
    /* opacity: 75; */
    -webkit-mask-image: linear-gradient(rgba(208, 239, 237, 0.362),rgba(208, 239, 237, 0.362),90deg);
    mask-image: linear-gradient(#D0EFED35,#D0EFED35, 90deg) ; 
}
.contentP{
    position: absolute;   
    left: 17px;
    top: 322px;
    width: 325px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
}
.contentP h2{ 
    color: #0D1111;
    font-size: 22px;
    font-weight: 700;
    /* margin: 18px 0px 16px 0px; */
    margin: 0;
    margin-left: 25px;
}
.contentP p{
    margin-left: 25px;
}
.sp{
    color: #0D1111;
    font-size: 22px;
    font-weight: 700;
}
.moreDetail{
    width: 182px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-left: 25px ;
    margin-bottom: 19px;
}
.moreDetail p{
    margin: 0;
}