/* font, biến màu */
.caption{
    color: #0D1111;
    font-size: 10px;
    font-weight: 500;
}
h1{
    color: #0D1111;
    font-size: 62px;
    font-weight: 700;
    line-height: 116.129%;
}
h2{
    color: #0D1111;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px; /* 133.333% */
}
.subtitle{
    color: #9DA6A5;
    font-size: 14px;
    font-weight: 400;
}
/* css cho cả trang */
body{
    margin: 0;
}
html{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* css cho từng phần */      
header{
    margin: 52px 135px 79px 135px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
header nav ul{
    display: flex;
    align-items: center;
}
header nav ul li{
    list-style: none;
    margin-right: 39px;
}
header nav ul li a{
    text-decoration: none;
    color:#494949 ;
    font-size: 16px;
    font-weight: 400;   
}
.btnCheck{
    width: 108px;
    height: 48px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #1EBFC1;
    /* margin: 12px 24px; */
    color: #1EBFC1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.contentHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textElement{
    width: 458px;
}
.textElement p.specialone{
    color: #767E7E;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
}
.textElement h1{
    margin: 0px 0px 46px 0px;
}
.textElement p:nth-child(3){
    color: #9DA6A5;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    width: 374px;
}
.buttonSpec{
    display: flex;
    align-items: center;
}
.buttonSpec img{
    width: 14px;
    height: 18px;
    padding: 22px 22px;
    /* border: 1px solid #000; */
    /* border-radius: 50%; */
}
.buttonSpec button#al{
    background-color: #fff;
    border-radius: 51%;
    border: 1px solid #9DA6A550;
}
.btnSubmit{
    border-radius: 14px;
    background: #1EBFC1;
    padding: 20px 41px;
    border: 1px solid #1ebfc1;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-right: 50px;
}
.imageHeader{
    background-color: #E0F7F6;
    width: 576px;
    height: 631px;
    position: relative;
}
.item1{
    width: 157px;
    height: 75px;
    margin: 18px 25px;
    position: absolute;
    z-index: 120;
    top: 149px;
    left: -60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #FEFEFD;
    border-radius: 18px;
}
.item1 p.caption{
    width: 55px;
}
.item2{
    width: 124px;
    height: 132px;
    position: absolute;
    z-index: 121;
    left: -65px;
    bottom: 46px;
    background: #FFF;
    border-radius: 24px;
}
.item2 p.caption{
    margin: 16px 35px;
}
.item2 img{
    margin-left: 25px;
}
.item3{
    width: 207px;
    height: 90px;
    position: absolute;
    z-index: 121;
    right: 45px;
    bottom: 41px;
    background-color: #FEFEFD;
    border-radius: 24px;
}
.item3 p{
    margin-top: 17px;
    margin-left: 35px;
}
.item3 img{
    margin-left: 35px;
}
.feature01{
    margin: 130px 281px 130px 135px;
    width: 1024px;
}
.feature01 h2{
    width: 577px;
    margin: 18px 0px;
}
.feature01 p:nth-child(3){
    color: #767E7E;
    font-size: 18px;
    font-weight: 400;
}
.contentFeature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.contentFeature p:nth-child(2){
    color: #0D1111;
    font-size: 20px;
    font-weight: 600;
}
.contentFeature p:nth-child(3){
    width: 224px;
    color: #9DA6A5;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
}
.course{
    margin: 0px 134px 265px 134px;
}
.course p:first-child{
    color: #767E7E;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0px;
}
.course h2:nth-child(2){
    color: #0D1111;
    font-size: 42px;
    font-weight: 700;
    margin-top: 19px;
    margin-bottom: 18px;
}
.course p.courseDetails{
    color: #767E7E;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; 
    width: 525px;
    margin-bottom: 79px;
}
.contentCourse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
a.clickMore{
    position: absolute;
    z-index: 9999;
    top: -101px;
    right: 1px;
}
.contentPart{
    position: relative;
}
.mask1{
    /* opacity: 75; */
    -webkit-mask-image: linear-gradient(rgba(208, 239, 237, 0.362),rgba(208, 239, 237, 0.362),90deg);
    mask-image: linear-gradient(#D0EFED35,#D0EFED35, 90deg) ; 
}
.contentP{
    position: absolute;   
    left: 17px;
    top: 322px;
    width: 325px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    
    box-sizing: border-box;
    /* border: 1px solid black; */
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.17);
}
.contentP h2{ 
    color: #0D1111;
    font-size: 22px;
    font-weight: 700;
    /* margin: 18px 0px 16px 0px; */
    margin: 0;
    margin-left: 25px;
}
.contentP p{
    margin-left: 25px;
}
.sp{
    color: #0D1111;
    font-size: 22px;
    font-weight: 700;
}
.moreDetail{
    width: 182px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-left: 25px ;
    margin-bottom: 19px;
}
.moreDetail p{
    margin: 0;
}
.countdown{
    margin: 265px 289px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one h1{
    margin: 5px 0px;
}
.one p{
    color: #767E7E;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0px;
}
.testimonial{
    width: 90%;
    height: 481px;
    margin: 264px 135px 130px 135px;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto; */
}
.contentTest p:nth-child(2){
    width: 419px;
    color: #5D6564;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px; 
    margin-right: 79px;
}
.contentTest p:nth-child(3){
    display: flex;
    align-items: center;
    color: #767E7E;
    font-size: 16px;
    font-weight: 400;
}
.contentTest p:nth-child(3) span{
    color: #070707;
    font-weight: 500;
}
.imageSpec{
    display: block;
    position: relative;
    height: 481px;
    width: 110px;
}
#img1{
    position: absolute;
    top: 0px;
    right: 578px;
}
#img2{
    position: absolute;
    top: 19px;
    right: 135px;
}
#img3{
    position: absolute;
    top: 258px;
    right: 601px;
}
#img4{
    position: absolute;
    top: 107px;
    right: 306px;
}
#img5{
    position: absolute;
    bottom: 0px;
    right: 524px;
}
#img6{
    position: absolute;
    bottom: 29px;
    right: 167px;
}
.cta{
    background-color: #DEF6F5;
    padding: 76px 289px 88px 135px;
    position: relative;
}
.cta h2{
    margin: 0px 0px 18px 0px;
    color: #070707;
    font-size: 42px;
    font-weight: 700;
}
.cta p{
    color: #767E7E;
    font-size: 18px;
    font-weight: 400;
}
.cta button{
    position: absolute;
    top: 96px;
    right: 289px;
    margin: 0px;
}
footer._footer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    margin: 131px 135px 50px 135px;
}
footer._footer ul{
    margin-left: 0px;
}
footer._footer ul li:first-child{
    color: #2E2E2E;
    font-size: 18px;
    font-weight: 500;
}
footer._footer ul:nth-child(5) a{
    display: flex;
    align-items: center;
}
footer ul li{
    list-style: none;
    margin: 25px auto 25px 0px;
}
footer ul li a{
    text-decoration: none;
    color: #535353;
}
.copyright{
    grid-column: 1 / 6;
    text-align: center;
    color: #B0B5B4;
    font-size: 18px;
    font-weight: 400;
    top: 400px;
    right: 478px;
    left: 478px;
}